[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-appdata = ">=0.3.0"
django-filer = ">=1.4.2"
django-haystack = ">=3.0b2"
django-parler = "*"
django-sortedm2m = "*"
django-taggit = ">=0.23.0"
django-treebeard = "<5.0,>=4.0"
django-debug-toolbar = ">=1.11"
django-cms = ">=3.9"
djangocms-admin-style = "<3.0,>=2.0"
djangocms-text-ckeditor = "<5.0,>=4.0"
djangocms-file = ">=3.0,<4.0"
djangocms-link = ">=3.0,<4.0"
djangocms-icon = "<3.0,>=2.0"
djangocms-picture = ">=3.0,<4.0"
djangocms-bootstrap4 = "<3.0,>=2.0"
djangocms-style = ">=3.0,<4.0"
djangocms-snippet = ">=2.2,<2.4"
djangocms-googlemap = "<3.0,>=2.0"
djangocms-video = ">=3.0,<4.0"
djangocms-audio = ">=1.1.0"
djangocms-history = ">=1.0.0"
easy-thumbnails = "*"
django-classy-tags = ">=2.0"
django-sekizai = ">=2.0"
django-mptt = ">0.9"
aldryn-apphooks-config = ">=0.6.0"
aldryn-boilerplates = ">=0.8.0"
aldryn-common = ">=1.0.5"
aldryn-search = ">=1.1.0"
aldryn-translation-tools = ">=0.3.0"
python-dateutil = "*"
django-phonenumber-field = ">=0.7.2,<2.0.0"
"pdfminer.six" = "==20181108"
chardet = "==3.0.4"
phonenumbers = "==8.10.6"
profanityfilter = ">=2.0.6"
pre-commit = ">=1.14.4"
google-api-python-client = ">=1.7.9"
google-auth-httplib2 = ">=0.0.3"
google-auth-oauthlib = ">=0.3.0"
bleach = ">=3.1.0"
beautifulsoup4 = ">=4.8.0"
django-simple-cookie-consent = ">=0.1.1"
importlib-resources = ">=1.0.2"
html5lib = ">=1.0.1"
backport-collections = "==0.1"
lxml = "*"
six = "*"
pytz = "*"
mysqlclient = ">=1.4.4"
Django = "~=3.2.5"
PyGithub = ">=1.43.7"
Pillow = ">=3.0"
Babel = ">=2.8.0"

[dev-packages]

[requires]
python_version = "3.10"
