aldryn-apphooks-config==0.5.2
aldryn-boilerplates==0.8.0
aldryn-categories==1.2.0
aldryn-common==1.0.5
aldryn-newsblog==2.2.1
aldryn-people==2.2.0
aldryn-translation-tools==0.3.0
Babel==2.6.0
backport-collections==0.1
chardet==3.0.4
Django==2.1.7
django-appconf==1.0.3
django-appdata==0.2.1
django-classy-tags==0.8.0
django-cms==3.6.0
django-debug-toolbar==1.11
django-filer==1.4.4
django-formtools==2.1
django-js-asset==1.2.2
django-mptt==0.9.1
django-parler==1.9.2
django-phonenumber-field==1.3.0
django-polymorphic==2.0.3
django-sekizai==0.10.0
django-sortedm2m==1.5.0
django-taggit==0.24.0
django-treebeard==4.3
djangocms-admin-style==1.3.0
djangocms-attributes-field==1.0.0
djangocms-audio==1.1.0
djangocms-column==1.9.0
djangocms-file==2.2.0
djangocms-googlemap==1.2.0
djangocms-history==1.0.0
djangocms-link==2.3.1
djangocms-picture==2.1.3
djangocms-snippet==2.1.0
djangocms-style==2.1.0
djangocms-text-ckeditor==3.7.0
djangocms-video==2.1.1
easy-thumbnails==2.6
html5lib==1.0.1
lxml==4.3.2
pdfminer2==20151206
phonenumbers==8.10.6
phonenumberslite==8.10.6
Pillow==5.4.1
python-dateutil==2.8.0
python-slugify==3.0.0
pytz==2018.9
six==1.12.0
sqlparse==0.2.4
text-unidecode==1.2
Unidecode==1.0.23
webencodings==0.5.1
YURL==0.13
