dj-database-url
Django==1.11.18
djangocms-blog==0.9.8
django-cms<3.6
django-debug-toolbar
djangocms-column
djangocms-file
djangocms-googlemap
djangocms-link
djangocms-picture
djangocms-snippet
djangocms-style
djangocms-video
tzlocal