{% extends "aldryn_newsblog/base.html" %}
{% load i18n %}

{% block meta %}{% if article_list %}{{ article_list.0.app_config.namespace }} - {% endif %}{% endblock %}

{% block newsblog_content %}
    <div class="aldryn-newsblog-list">
        {% for article in article_list %}
            {% include "aldryn_newsblog/includes/article.html" %}
        {% empty %}
            <div class="notification-box-light"><span>{% trans "No blogs published yet. Visit again later!" %}</span></div>
        {% endfor %}
    </div>
    
    <div class="aldryn-newsblog-pagination">
        {% include "aldryn_newsblog/includes/pagination.html" %}
    </div>
{% endblock %}