{% extends "aldryn_newsblog/base.html" %}
{% load i18n %}

{% block newsblog_content %}
<style>
#div_top_hypers {
    background-color:#eeeeee;
    display:inline;      
}
.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}
</style>
<div id="layout" class="pure-g" >
        
		<div class="content pure-u-1 pure-u-md-20-24">
    {% for article in article_list %}
        {% include "aldryn_newsblog/includes/article.html" %}
    {% empty %}
        <p>{% trans "No items available" %}</p>
    {% endfor %}
	<div id="div_top_hypers">
    {% include "aldryn_newsblog/includes/pagination.html" %}
	</div>
	</div>
</div>
{% endblock %}
