<style>
.comment{
  width: 35%;
  border: 5px #108496;
  border-bottom-style: solid;
  box-sizing: border-box;
  padding-top: 5%;
}
.reply{
  width: 35%;
  border: 5px #154496;
  border-bottom-style: solid;
  box-sizing: border-box;
  margin-left: 20%;
  padding-top: 2%
}
.date{
  font-style: oblique;
  font-variant: small-caps;
  font-size: 70%
}
.author_name{
font-family: sans-serif;
 color: #50848a;
 text-decoration: none;
}

.author_site{
 font-family: sans-serif;
 font-size: 70%;
 text-decoration: none;
}
.comment_text{
  font-family: sans-serif;
  ";
}
.options{
 color:#89848a;
 text-decoration: none;
 font-size: 50%
 font-family: sans-serif;
}
.replytitle{
  margin-left:25%;
  font-family: sans-serif;
  border: 2px #154496;
  width: 11%;
  margin-top: 2px;
}
.commentform{
  background-color: #e4efc7;
  width: 40%;
  padding-left: 5%;
  padding-top: 1%;
  border-radius: 10px;
}

.commentformlabel{
  font-family: sans-serif;
  font-style: oblique;
  padding-top: 5px;
  padding-bottom: 2px;

}

.commentbutton{
  background-color: #4CAF50;
  border-radius: 10px;
  border: none;
  padding: 15px 32px;
  margin-top: 4px;
}

.commentforminput{
  border-radius: 10px;
  border: none;
}

.commentformtext{
 border-radius: 10px;
 border: none;
 width: 200px;
 height: 150px;
}
.replybutton{
  cursor: pointer;
  font-size:70%;
  padding-top: 15px;
}
</style>
{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block newsblog_content %}
    <div class="aldryn-newsblog-detail">
        {% include "aldryn_newsblog/includes/article.html" with detail_view="true" %}
    </div>
    {% static_placeholder "newsblog_social" %}

    <div class="aldryn-newsblog-pager">
        <ul class="pager">
            {% if prev_article %}
                <li class="previous"><a href="{{ prev_article.get_absolute_url }}"><span aria-hidden="true">&larr;</span> {% trans "Previous" %}</a></li>
            {% else %}
                <li class="previous"><span class="text-muted"><span aria-hidden="true">&larr;</span> {% trans "Previous" %}</span></li>
            {% endif %}
            <li><span class="pager-back"><a href="{% namespace_url "article-list" %}">{% trans "Overview" %}</a></span></li>
            {% if next_article %}
                <li class="next"><a href="{{ next_article.get_absolute_url }}">{% trans "Next" %} <span aria-hidden="true">&rarr;</span></a></li>
            {% else %}
                <li class="next"><span class="text-muted">{% trans "Next" %} <span aria-hidden="true">&rarr;</span></span></li>
            {% endif %}
        </ul>
    </div>
    <br><br><h5>Comments</h2>
    <form class="commentform" action="{% url 'add_comment_to_article' pk=article.pk %}?next={{ request.path|urlencode }}" method="post">{% csrf_token %}
      <div class="commentformlabel">Author:</div>
      <input name="author" type="text" class="commentforminput"><br>
      <div class="commentformlabel">E-mail:</div>
      <input name="mail" type="text" class="commentforminput"><br>
      <div class="commentformlabel" >Website:</div>
      <input name="site" type="text" class="commentforminput"><br>
      <div class="commentformlabel">Comment:</div>
    <textarea name="text" class="commentformtext">The cat was playing in the garden.</textarea>
    <input type="hidden" name="next" value="{{ request.path|urlencode }}"><br>
    <input type="submit" class="commentbutton" value="Add Comment">
  </form>
  <script>
  $("[name='author']").prop("required", true);
  $("[name='mail']").prop("required", true);
  $("[name='text']").prop("required", true);
  </script>
    {% for comment in article.comments.all %}
      <div class="comment">
    <div class="date">{{ comment.created_date }}</div>
      <a href="mailto:{{ comment.author_mail }}" class="author_name">{{ comment.author_name }}</a>
      <a href="{{ comment.author_site }}" class="author_site">{{comment.author_site}}</a>
      <p class="comment_text">{{ comment.text|linebreaks }}</p>
      <div class="replybutton" id="replyto{{comment.pk}}"><i class="material-icons options">reply</i><div class="options">Reply</div></div>
    </div>
    <script>
    $( "#replyto{{comment.pk}}" ).click(function() {
      $( "#replyform{{comment.pk}}" ).toggle();
    });
    </script>
    <h5 class="replytitle">{{comment.replies.all.count}} replies</h5>
        <div id="replyform{{comment.pk}}" style="display: none">
        <form class="commentform" action="{% url 'add_reply_to_comment' pk=comment.pk %}?next={{ request.path|urlencode }}" method="post">{% csrf_token %}
          <div class="commentformlabel">Author:</div>
          <input name="author" type="text" class="commentforminput"><br>
          <div class="commentformlabel">E-mail:</div>
          <input name="mail" type="text" class="commentforminput"><br>
          <div class="commentformlabel" >Website:</div>
          <input name="site" type="text" class="commentforminput"><br>
          <div class="commentformlabel">Comment:</div>
        <textarea name="text" class="commentformtext">The cat was playing in the garden.</textarea>
        <input type="hidden" name="next" value="{{ request.path|urlencode }}"><br>
        <input type="submit" class="commentbutton" value="Add Comment">
      </form></div>
      <script>
      $("[name='author']").prop("required", true);
      $("[name='mail']").prop("required", true);
      $("[name='text']").prop("required", true);
      </script>
        {% for reply in comment.replies.all %}
            <div class="reply">
              <div class="date">{{ reply.created_date }}</div>
                <a href="mailto:{{ reply.author_mail }}" class="author_name">{{ reply.author_name }}</a>
                <a href="{{ reply.author_site }}" class="author_site">{{reply.author_site}}</a>
                <p class="comment_text">{{ reply.text|linebreaks }}</p>
            </div>
        {% endfor %}
    {% empty %}
        <p>No comments</p>
    {% endfor %}
{% endblock %}
