Welcome to GSoC with the Python Software Foundation! <br />
<br />
{% if role is not 3 %}
You have been invitied to be a {% if role == 1 %}Suborg Admin{% elif role == 2 %}Mentor{% else %}Other{% endif %} {% if role != 0 %}with {{suborg}} {% endif %}for Google Summer of Code {{gsoc_year}} with the Python Software Foundation.<br />
<br />
You will need to register using the link below to be invited by Google.<br />
{% else %}
<p>Students are required to post something every week.  We do this for two reasons: firstly, to help the Python org admins tell that you're active and still on track, and secondly to help the wider Python community understand what our students are doing.

<p>Python requires two types of posts on alternating weeks.  One is a weekly check-in post that answers the three questions below. Each answer expected to be very short (each answer is typically under 100 words).  This short post addresses the first goal by giving a way for org admins to tell if a student is active and on track or needs additional assistance.

<br />
&emsp;1. What did you do this week?<br />
&emsp;2. What is coming up next?<br />
&emsp;3. Did you get stuck anywhere?<br />
<br />

The second post is a blog post, where students will be required to go into some detail on what they are working on, what they struggle with, and what solutions they have found. There is no formal structure to this and every student is welcome to use their own style but the above three questions should be answered in the blog post at some point. This longer post addresses the second goal, helping the wider python community understand what our students are doing.<br />
<br />
<br />
{% endif %}
Blogs and suborgs are handled by our new GSoC blogging platform, so please report any bugs, issues, or suggestions to <a href = "https://github.com/python-gsoc/python-blogs/issues">https://github.com/python-gsoc/python-blogs/issues</a> or email <a href = "mailto: gsoc-admins@python.org">gsoc-admins@python.org</a> <br />
<br />
To register you will need to go to <a href="{{ register_link }}">{{ register_link }}</a> <br />
<br />
If you have any issues please DO NOT reply to this email, and email <a href = "mailto: gsoc-admins@python.org">gsoc-admins@python.org</a><br />
<br />
Thank you<br />
Python GSoC Team!<br />
