The due date for the weekly blog for {{ student_username }} ({{ student_email }}) with {{ suborg_name }} has passed and they have not made a blog post as of the due date on {{ due_date }}.<br />
<br />
It looks like they have {{ current_blog_count-1}} blog post(s) pending. Make sure to get your GSoC contributor to post as soon as possible. <br />
<br />
<b>Blogging is recommended for Python Software Foundation GSoC contributors, since that's how the org admin teams ensure that contributors are still active.  Inactive contributors will be given failing grades.<br /></b>
<br />
If you have any issues please DO NOT reply to this email, and email <a href = "mailto: gsoc-admins@python.org">gsoc-admins@python.org</a><br />
<br />
Thank you<br />
PSF GSoC Team!<br />
