This is a gentle reminder for the blog post required from your side before {{ due_date }}. <b>This is required to pass GSoC with the Python Software Foundation.</b><br />
<br />

{% if current_blog_count > 1 %}
<b>It looks like you have {{ current_blog_count - 1 }} blog post(s) pending. Please publish the blogs at the earliest.</b><br />
<br />
{% endif %}

If you have any issues please DO NOT reply to this email, and email <a href = "mailto: gsoc-admins@python.org">gsoc-admins@python.org</a><br />
<br />
Thank you<br />
Python GSoC Team!<br />
