{% extends "base.html" %}
{% load dict_key %}

{% block title %} Not Accepted Users {% endblock %}

{% block content %}
  <div class="table-container">
    <table class="pure-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Suborg</th>
          <th onclick="sortTable(0)" >Role</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr class="pure-table-odd">
            <td>{{ forloop.counter }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.user_suborg.suborg_name }}</td>
            <td>{{ roles|dict_key:user.user_role }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
