article {
    background: mintcream;
    padding: 1em 1.5em;
    margin: 1em 0;
}

.aldryn-newsblog-detail > article {
    background: white;
}

.img-responsive {
    width: 100%;
    height: auto;
}

article > heading {
    color: #489eba;
}

.lead {
    font-family: 'Source Serif Pro', serif;
    text-align: justify;
}

.article-content {
    text-align: justify;
    font-family: 'Source Serif Pro', serif;
}

.text-center {
    text-align: center;
}

.categories {
    margin-top: 10px;
}

.categories > a {
    text-decoration: none;
}

.category {
    background: lightsalmon;
    padding: 5px 15px;
    border-radius: 30px;
    color: white;
}

.aldryn-newsblog-pagination {
    text-align: center;
}

.aldryn-newsblog-pagination > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
  
.aldryn-newsblog-pagination > ul > li {
    padding: 5px 15px;
    float: left;
    background: lightseagreen;
}

.aldryn-newsblog-pagination > ul > li:first-child {
    border-radius: 30px 0 0 30px;
    padding-left: 20px;
}

.aldryn-newsblog-pagination > ul > li:last-child {
    border-radius: 0 30px 30px 0;
    padding-right: 20px;
}

.aldryn-newsblog-pagination > ul > li a {
    text-decoration: none;
    color: white;
}

.aldryn-newsblog-pager {
    text-align: center;
}

.aldryn-newsblog-pager > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.aldryn-newsblog-pager > ul > li {
    padding: 5px 15px;
    float: left;
    background: lightseagreen;
}

.aldryn-newsblog-pager > ul > li:first-child {
    border-radius: 30px 0 0 30px;
    padding-left: 20px;
}

.aldryn-newsblog-pager > ul > li:last-child {
    border-radius: 0 30px 30px 0;
    padding-right: 20px;
}

.aldryn-newsblog-pager > ul > li a {
    text-decoration: none;
    color: white;
}

.aldryn-newsblog-comments {
    margin: 16px 0;
    padding: 16px 24px;
}

.aldryn-newsblog-comments form {
    display: none;
}

.aldryn-newsblog-comments #form-root {
    display: block;
}

.aldryn-newsblog-subcomments {
    padding-left: 24px;
    border-left: 0.1px solid #eee;
}

.comment {
    padding: 5px 10px;
    margin: 5px 0px;
    background: #eee;
}

.comment.selected {
    background: #ccc;
}

.comment-container .c-username {
    color: #489EBA;
    font-size: 12px;
    font-weight: bold;
}

.comment-container .c-actions {
    font-size: 12px;
}

.comment-container .c-actions span {
    margin-right: 10px;
}

.comment-container .c-actions .reply {
    cursor: pointer;
}

.comment-container .c-actions .share {
    cursor: pointer;
}

.comment-container .c-actions .delete {
    cursor: pointer;
}

.comment-container .c-content {
    font-size: 14px;
}

form textarea {
    border-radius: 0 0 4px 4px !important;
}
