body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.content-blog {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1600px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 46px;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 46px;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 50em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #489eba;
}

html.cms-toolbar-expanded > #layout {
    margin-top: 46px;
}

.warning {
    background:  wheat;
    color: #16536e;
    padding-left: 2em;
    padding-right: 2em;
}

/* Alternate coloured ribbon */
.ribbon {
    background: #16536e;
    color: #aaaaaa;

    padding: 1em 1em 3em;
}

.ribbon a:link {
    color: white;
}

.ribbon a:visited {
    color: wheat;
}

.ribbon a:hover {
    color: hotpink;
}

.ribbon a:active {
    color: red;
}

/* Menu */
.custom-restricted-width {
    display: inline-block;
}

#menu .pure-menu-heading {
    background-color:  #16536e;
}
#menu .pure-menu-selected {
    background-color: #489eba;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #489eba;
}
.content-subhead i {
    margin-right: 7px;
}

.padded-cell {
    margin-right: 2em;
}

.ribbon strong {
    color: #edecf1;
}

.logo img {
    max-height: 150px;
}

/* Org status bars */
div.ok {
	border-bottom: 2px solid #8aab00;
}

div.waiting {
	border-bottom: 2px solid #fecb01;
}

div.problem {
	border-bottom: 2px solid #b44601;
}

/* Notification */
.notification {
    margin-bottom: 0 !important;
}

.notification-box {
    background: lightcoral;
    color: white;
    margin: 1em 0;
    padding: 1em 2em;
}

.notification-box-light {
    background: wheat;
    color: #16536e;
    margin: 1em 0;
    padding: 1em 2em;
}

/* Login Bar */
#topnav {
    position: fixed;
    left: 0;
    right: 0;
    height: 46px;
    background: #16536e;
}

.vertical-filler {
    height: 46px;
}

.login-container {
    display: inline-block;
    float: right; 
}

.pure-form {
    padding: 5px;
}

.small-screen {
    display: none;
}

@media screen and (max-width: 50em) {
    .large-screen {
        display: none;
    }

    .small-screen {
        display: block;
    }

    .menu-toggle {
        display: inline-block !important;
    }

    .small-screen .login-button {
        margin: 5px;
    }
}

#topnav .pure-menu {
    height: 100%;
}

#topnav .pure-menu-list {
    height: 100%;
}

#topnav .pure-menu-link.pure-menu-heading {
    margin-top: 6px;
    color: #aaa;
}

#topnav .pure-menu-link.pure-menu-heading:hover {
    background: #16536e;
}

.blog-list a {
    text-decoration: none;
    color: black;
}

.blog-list .card-container .card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
    text-align: center;
    text-decoration: none !important;

    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.blog-list .card-container .card:hover {
    background: #ddd;
}

.blog-list .card-container .card .title {
    margin: 0.5em 0;
}

.blog-list .card-container .card .suborg {
    font-size: 12px;
    color: #16536e;
}

.blog-list .card-container .card i {
    margin-top: 10px;
    font-size: 50px;
}

.umber {
    color: #946846;
}

.khaki {
    color: #BAAB68;
}

.wine {
    color: #6D213C;
}

.straw {
    color: #6D213C;
}

.card .proposal-link {
    font-size: 12px;
    color: blue;
}

.card .proposal-link:hover {
    text-decoration: underline;
}

.card .proposal-link:visited {
    color: purple;
}

.card .no-proposal {
    font-size: 12px;
    color: red;
}

.grecaptcha-badge {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
