{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html lang="en">
    <head>
        <title>Python GSoC - {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta %}{% endblock %}Python's Google Summer of Code Blogs Page">
        <meta name="google-site-verification" content="EVShtJLdVKN58OupOAYPkH6QRA3i-J8q4ZEklgFiZhE" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous" >
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-responsive-min.css" >
        <!--<![endif]-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous" >
        <link rel="stylesheet" href="/static/css/python-gsoc.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous" async></script>
        <!-- <script src='https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_SITE_KEY }}' async></script> -->
        <script src='https://www.google.com/recaptcha/api.js' async></script>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
        {% block head %}{% endblock %}
        {% render_block "css" %}
    </head>
    <body>
        {% if user.is_authenticated %}
            {% include 'cms_toolbar.html'%}
        {% endif %}

        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="layout">
            <!-- menu -->
            <div id="menu">
                <div class="pure-menu">
                    <ul class="pure-menu-list">
                        {% show_menu 0 100 100 100 "partials/menu.html" %}
                    </ul>
                </div>
            </div>
            <!-- menu -->

            <div id="main">
                {% if not user.is_authenticated %}
                    <div id=topnav>
                        <div class="pure-menu pure-menu-horizontal">
                            <a href="https://python-gsoc.org" class="pure-menu-heading pure-menu-link">Python-GSoC</a>
                            <div class="login-container small-screen">
                                <a href="{% url 'login' %}" class="login-button pure-button">Login</a>
                            </div>
                            <div class="login-container large-screen">
                                <form class="pure-form" method="post" action="{% url 'cms_login' %}">
                                    {% csrf_token %}
                                    <input type="text" placeholder="Username" name="username">
                                    <input type="password" placeholder="Password" name="password">
                                    <button type="submit" class="pure-button">Login</button>
                                    <a href="{% url 'password_reset' %}" class="pure-button">Lost Password?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-filler"></div>
                {% endif %}
                
                <div class="notification content">
                    {% if user and user.is_current_year_student and not user.has_proposal %}
                    <div class="notification-box">
                        <span>You haven't uploaded your proposal yet. Please click <a href="/myprofile">here</a> to upload!</span>
                    </div>
                    {% endif %}
                    {% if request.current_page %}
                        {% if request.user.is_authenticated %}
                            {% if not request.current_page.get_title_obj.published or request.current_page.get_title_obj.publisher_state %}
                            <div class="notification-box">
                                Alert! The page has not been published yet.
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if request.GET.cms_toolbar_login_error %}
                        <div class="notification-box">
                            No such user found! Please verify your credentials and enter again.
                        </div>
                    {% endif %}
                    {% if not request.user.is_authenticated %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="notification-box">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {% if request.current_page.publisher_is_draft %}
                        {% for notification in request.current_page.notifications.all %}
                            <div class="notification-box-light">
                                {{ notification.message }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for notification in request.current_page.notifications_for_published.all %}
                            <div class="notification-box-light">
                                {{ notification.message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                
                {% block content %}{% endblock %}
            </div>
        </div>

        {% render_block 'js' %}
        <script src="/static/js/python-gsoc.js" async></script>
        {% block js %}{% endblock %}
    </body>
</html>
