{% extends "base.html" %}

{% block title %}
Calendar
{% endblock %}
{% block content %}

<center>
<h2 class="content-head content-head is-center">Events Calendar</h2>
<div>You see the calendar at GMT{{ time }}</div>
</center>
<div class="content">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <p>In general, Python will ask mentors to do things before the <a href="https://developers.google.com/open-source/gsoc/timeline?hl=en">Google
                        deadline</a>. This allows our admins
                    time to make sure that evaluations, etc. are complete and ready for Google when their deadline
                    comes.
                    (The whole organization gets penalized if anyone's late, so we make sure that doesn't happen
                    unfairly.)
                    Student deadlines are exactly as Google tells you, although getting things done earlier is never a
                    bad
                    idea!</p>

                <ul>
                    <li>Feb 4 - Sub-org applications due. (We need good ideas pages if we want get accepted at all! But
                        if you get an awesome student interested later than this, we can make exceptions.)
                    </li><li>March 5 - If you're an organization that tried to get in as a top-level org and didn't
                        get in and would like to participate with us, please get in touch by March 5.
                    </li><li>March 25 - April 9 - Student Application period.</li>
                    <li>June 26 - Phase 1 evaluation deadline (for mentors)</li>
                    <li>July 24 - Phase 2 evaluation deadline (for mentors)</li>
                    <li>Aug 31 - Final evaluation deadline</li>
                    
                </ul>
            </div>
			<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=uhambjin8qdb9af4vt03c4djg4%40group.calendar.google.com&amp;color=%23853104&amp;ctz={{ TIME_ZONE }}" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

        </div>
{% endblock %}