{% extends "base.html" %}

{% block title %}
Calendar
{% endblock %}
{% block content %}
Calendar
<div margin=20px>You see the calendar at GMT{{ time }}</div>
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=uhambjin8qdb9af4vt03c4djg4%40group.calendar.google.com&amp;color=%23853104&amp;ctz={{ TIME_ZONE }}" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

{% endblock %}