{% extends "base.html" %}
{% block content %}
<div class="header"><h1>Getting in Touch</h1></div>

<ul>
<li>Please note that Python has a <a href="https://www.python.org/psf/codeofconduct/">Community Code of Conduct</a> and mentors and
students working with the PSF are asked to abide by it as members of the
Python community.</li>
<li>Sign up to the <a href="https://mail.python.org/mailman/listinfo/gsoc-general">gsoc-general(at)python.org</a>
mailing list to get updates, reminders, and to discuss questions.</li>

<li><a href="http://webchat.freenode.net/?channels=python-gsoc">#python-gsoc on
irc.freenode.net</a> is our IRC channel.  IRC is an older realtime chat protocol very
popular among open source projects, and it's worth learning to use it and getting a
dedicated client if
you're going to be involved in open source long term.  Please remember to
stick around a while for an answer, as many open source people use IRC for
work and aren't always available to respond immediately.</li>
<ul>
<li>There are some great resources at http://irchelp.org/ if you need help finding a
client or learning how to use IRC. </li>
<li>We now have a Matrix / Riot.im server, and IRC bridge.  You can make use of this
by connecting to the normal IRC channel at <strong>irc://irc.freenode.net/#python-gsoc</strong> or use
our Matrix room at 
<strong>
	<a href="https://matrix.to/#/#python-gsoc:matrix.python-gsoc.org">
		#python-gsoc:matrix.python-gsoc.org
	</a>
</strong>.  (And yes, there's an Android client if you follow that link!)
</li>
</ul>

<li>Found a typo?  Want to improve this page? <a href="https://github.com/python-gsoc/python-gsoc.github.io">The source code
is on GitHub and we welcome pull requests!</a></li>
<li>Want to use some of the text of this page?  It is now <a href="https://github.com/python-gsoc/python-gsoc.github.io/blob/master/LICENSE.md">licensed under CC-BY-4.0</a>.
</li><li>To talk with people from a specific sub-org, <a href="#ideas">check their ideas
page listing</a>.
</li></ul>

<p>Please try to read all the information on this page before
asking a question.  We have tried to answer a lot of common questions in
advance!</p>

<p><strong>Don't forget to be patient</strong>: Our mentors generally have day-jobs and
are not always paying attention to IRC (especially during GSoC off-season: expect more
active mentors after Google's announcement of organizations). Please ask questions
directly on channel (you don't need to introduce
yourself or say hi first) and please be patient while waiting for an answer.
You could wind up waiting an hour or much longer for "realtime" answers if all the
mentors are in meetings at work or otherwise occupied. If you can't stay that
long, stay as long as you can and then send email to the mailing list instead
so mentors have some way to reach you.  We try to answer emails within 48h.</p>

<p><strong>For mentors</strong>: All the gsoc admins can be reached at
gsoc-admins(at)python(dot)org if you have questions about participating.
(Students should email gsoc-general(at)python.org with all of their
questions, unless they are of a sensitive personal nature.)



<a name="gettingstarted"></a>
</p>
{% endblock %}