{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block content %}
	<a name="contact"></a>
	<div class="content">
		<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
			<h2 class="content-head content-head is-center">Getting in Touch</h2>
			<p>
				Please note that Python has a <a href="https://www.python.org/psf/codeofconduct/">Community
				Code of Conduct</a> and mentors and
				students working with the PSF are asked to abide by it as members of the
				Python community.
			</p>
		</div>
	</div>
	<div class="ribbon l-box-lrg pure-g">
		<div class="content">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
					<div class="padded-cell">
						<h3 class="content-subhead">
							<i class="fa fa-envelope"></i>
							Mailing Lists.
						</h3>
						<p>Sign up to the <a href="https://mail.python.org/mailman/listinfo/gsoc-general">gsoc-general(at)python.org</a>
							mailing list to get updates, reminders, and to discuss questions. Please join the list
							<em>before</em> you send a message!
						</p>
						<p>The most common questions are answered here:
						<ul>
							<li><a href="#gettingstarted">How do I get started?</a></li>
							<li><a href="students.html#choosing">What project should I choose?</a></li>
						</ul>
						</p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-3">
					<h3 class="content-subhead">
						<i class="fa fa-comments"></i>
						IRC / Live chat
					</h3>
					<p>
						Our IRC channel is <a href="https://riot.im/app/#/room/#python-gsoc:matrix.python-gsoc.org">#python-gsoc
						on
						irc.freenode.net</a>. (Don't know IRC? <a href="http://irchelp.org">Learn more at
						irchelp.org</a>).
					</p>
					<ul>
						<li>
							Please wait for an answer! Many mentors are busy and can't chat right away.
						</li>
						<li>
							You can access this channel many ways! They all connect together using magic provided
							by
							Warthog9.
							<ul>
								<li>Matrix room at <a href="https://matrix.to/#/#python-gsoc:matrix.python-gsoc.org">
									#python-gsoc:matrix.python-gsoc.org</a> (Includes Android client!)
								</li>
								<li>Get a <a href="https://join.slack.com/t/python-gsoc/shared_invite/enQtNDg0NDgwNjMyNTE2LTNlOGM1MWY2MzRlMjNhMGM2OWJjYzE3ODRmMmM0MjFjNGJmNGRiYzI4ZDc1ODgxOTYzMDQyNzBiNGFlYWVjZTY">Slack
									invite</a> (Our Slack Workspace is: python-gsoc.slack.com)
								</li>
								<li>Old freenode webchat: <a href="http://webchat.freenode.net/?channels=python-gsoc">#python-gsoc
									on
									irc.freenode.net</a>
								</li>
							</ul>
					</ul>
				</div>
				<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
					<h3 class="content-subhead">
						<i class="fa fa-users"></i>
						Specific sub-orgs
					</h3>
					<p>To talk with people from a specific sub-org, <a href="#ideas">check their ideas
						page listing</a> for their mailing lists, IRC, and other contact information.
					</p>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
				<h3 class="content-subhead">
					<i class="fa fa-heart"></i>
					Tips!
				</h3>
				<ol>
					<li><strong>Read first.</strong> We've tried to answer the common questions on this site, and
						we get asked things like "<a href="#gettingstarted">How do I get started?</a>" and
						"<a href="students.html#easybugs">Where do I find easy bugs?</a>" a lot. Check the
						<a href="students.html#faq">Frequently Asked Questions (FAQ) on the student page</a> for
						more!
					</li>
					<li><strong>Be Patient!</strong> Our mentors typically have day jobs and can't always answer
						right-away. If you can't hang out on IRC for an answer, send an email instead.
					</li>
					<li><strong>Ask questions directly on IRC.</strong> You don't need to introduce
						yourself or say hi first, just ask away!
					</li>
					<li><strong>Communicate in public.</strong> That lets many mentors read your question so you
						can usually get an answer faster.
					</li>
				</ol>
				<p><strong>For mentors</strong>: All the gsoc admins can be reached at
					gsoc-admins(at)python(dot)org if you have questions about participating.
					(Students should email gsoc-general(at)python.org with all of their
					questions, unless they are of a sensitive personal nature.)
				</p>
			</div>
			<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
				<h3 class="content-subhead">
					<i class="fa fa-crown"></i>
					Org admins
				</h3>
				<p>The 2019 Python Software Foundation (PSF) org admin team:</p>
				<ul>
					<li>Terri Oda (terri on IRC) - focus areas: figurehead, making final decisions,
						website/documentation
					</li>
					<li>James Lopeman (meflin on IRC) - focus areas: IRC, ideas pages reviews, saying no</li>
					<li>John Hawley (warthog9 on IRC) - focus areas: infrastructure, advice, emergency
						mentoring/mentor
						supervision.
					</li>
					<li>Matthew Lagoe (Botanic on IRC) - focus areas: student blogs, irc bot, marking sure things
						happen on time
					</li>
					<li>Kushal Das (kushal on IRC) - focus areas: advice, time zone coverage</li>
				</ul>
				<p>The org admins can be reached at gsoc-admins(at)python(dot)org (for mentors)
					Students should almost always visit <a href="#gettingstarted">Getting Started</a> first, and
					email
					gsoc-general(at)python.org only if you get stuck.
				</p>
				<p>We also have some "org admins emeritus" who may be able
					to help you:
				</p>
				<ul>
					<li>Florian Fuchs (florianf on IRC)</li>
					<li>Stephen Turnbull (yaseppochi on IRC)</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Contact -->
{% endblock %}

{% block js %}
<script>
	grecaptcha.ready(function() {
		grecaptcha.execute('{{ RECAPTCHA_SITE_KEY }}', {action: 'contact'});
	});
</script>
{% endblock %}
