{% extends "base.html" %}

{% block title %}
Getting Started
{% endblock %}

{% block content %}
   <a name="gettingstarted"></a>
   <div class="content">
      <h2 class="content-head is-center">How do I get started?</h2>
      <div class="pure-g">
         <div class="l-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
            <h3 class="content-subhead">
               <i class="fa fa-rocket"></i>
               Choose an organization.
            </h3>
            <p>
               There's hundreds of thousands of projects that use Python, and you
               need to narrow
               down the list before you can get help or do much that's useful.
               See <a href="students.html#choosing">How
               do I choose a project or sub-org?</a> for ideas
               on how to do that.
            <p><em>Any</em> open source experience will help you prepare for GSoC,
               so don't worry too much about what project you try first and don't be afraid
               to change your mind! When we know which sub-orgs will be participating,
               they'll be listed <a href="#ideas">with the project ideas</a>.
            </p>
         </div>
         <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <div class="padded-cell">
               <h3 class="content-subhead">
                  <i class="fa fa-laptop"></i>
                  Set up your own development environment.
               </h3>
               <p>
                  Document what you do so you can remember it later, and so you can
                  help others if they get stuck! And if you get stuck, don't be afraid to ask
                  for help.
               </p>
            </div>
         </div>
         <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <div class="padded-cell">
               <h3 class="content-subhead">
                  <i class="fa fa-comments"></i>
                  Start communicating with the developers.
               </h3>
               <p>
                  Join the mailing list, IRC channel, or any other communication
                  channels the developers use. Listen, get to know the people involved, and ask
                  questions.
               <ul>
                  <li>Read first to see if your question has already been answered.
                     We get a lot of repeat questions!
                  </li>
                  <li>Communicate in public (not in private). Most open source work is done in the open,
                     so
                     demonstrate that you can do that!
                  </li>
               </ul>
               </p>
            </div>
         </div>
         <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <h3 class="content-subhead">
               <i class="fa fa-bug"></i>
               Try to fix a bug.
            </h3>
            <p>
               Many projects have these tagged as "easy" "bite-size" or
               "beginner-friendly" -- do a search to see what comes up. Competition for the easiest
               ones can be fierce, so don't be afraid to try something harder if you think
               you might know what to do.
            </p>
            <p>
               Can't find a bug? Other ideas: find typos and fix them. Improve test coverage by
               writing new tests. Improve documentation. Use a tool like Pylint or Bandit to see
               if you can find new issues.
            </p>
         </div>
         <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <div class="padded-cell">
               <h3 class="content-subhead">
                  <i class="fa fa-flag"></i>
                  Find bugs and report them.
               </h3>
               <p>
                  Hopefully you won't encounter too many, but it's always a good idea to get familiar with
                  your
                  project's bug reporting process.
               </p>
            </div>
         </div>
         <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <div class="padded-cell">
               <h3 class="content-subhead">
                  <i class="fa fa-file"></i>
                  Help with documentation.
               </h3>
               <p>
                  As a beginner in your project, you're going to see things that are confusing that more
                  experienced developers may not notice. Take advantage of your beginner mindset and make
                  sure to
                  document anything you think is missing!
               </p>
            </div>
         </div>
         <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <h3 class="content-subhead">
               <i class="fa fa-heart"></i>
               Help others.
            </h3>
            <p>
               Most projects are looking for not just coders, but good community members who people like to
               work with. Show your community skills by helping others and make a great impression come
               selection time!
            </p>
         </div>
      </div>
   </div>
<!-- getting started -->
{% endblock %}