{% extends "base.html" %}
{% block content %}
<h1>Google Summer of Code 2018 @ the Python Software Foundation</h1>
<img src="python-powered-h-140x182.png" alt="Python powered" width="140" height="182">

<p><a href="http://python.org">Python</a> is a popular high-level programming
language. It is a general-purpose language used by scientists, developers,
and many others who want to work more quickly and integrate systems more
effectively.

</p><p><a href="http://code.google.com/soc/">Google Summer of Code</a> (GSoC) is
a global program that offers post-secondary students an opportunity to be
paid for contributing to an open source project over a three month period.
Since 2005, the Python Software Foundation has served as an "umbrella
organization" to a variety of Python-related projects, as well as sponsoring
projects related to the development of the Python language.

</p><div class="warning"><strong>Getting started</strong>: Not sure what to do first?  Check out the section on <a href="#gettingstarted">getting
started in open source</a>!</div>

<p>The 2018 Python Software Foundation (PSF) GSoC coordinator is Terri Oda. (terri on Freenode IRC, terrioda
at gmail.com, but please email gsoc-admins(at)python(dot)org if you are a
mentor who wishes to
contact an admin. Students should almost always visit <a href="#gettingstarted">Getting Started</a> first, and
email gsoc-general(at)python.org only if you get stuck.)

</p><p>The other org admins include:</p>
<ul>
	<li>James Lopeman (meflin on IRC)</li>
	<li>John Hawley (warthog9 on IRC)</li>
   <li>Matthew Lagoe (Botanic on IRC)</li>
</ul>

<p>We also have a great group of advisors and "org admins emeritus" who may be able
to help you:

</p><ul>
	<li>Florian Fuchs (florianf on IRC)</li>
	<li>Kushal Das (kushal on IRC)</li>
	<li>Stephen Turnbull (yaseppochi on IRC)</li>
</ul>
{% endblock %}