{% extends "base.html" %}

{% block title %}
Splash
{% endblock %}

{% block content %}
	<div class="main">
		<div class="header">
			<h1>Python Summer of Code</h1>
			<p>
				Students: get paid to work on open source projects!
			</p>
			<p>
				Projects: find new contributors and mentor the next generation!
			</p>
		</div>
	</div>
	<!-- splash container -->
	<div class="ribbon l-box-lrg pure-g">
		<div class="content">
			<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
				<h2 class="content-head content-head-ribbon is-center">What is it?</h2>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
				<div class="padded-cell">
					<h3 class="content-subhead">
						<i class="fab fa-python"></i>
						Python
					</h3>
					<p>
						Python is a popular high-level programming language. It is a general-purpose language used
						by
						scientists, developers, and many others who want to work more quickly and integrate systems
						more effectively.
					</p>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
				<h3 class="content-subhead">
					<i class="fas fa-cogs"></i>
					Google Summer of Code
				</h3>
				<p>
					Google Summer of Code (GSoC) is a global program that offers post-secondary students an
					opportunity to be paid for contributing to an open source project over a three month period.
				</p>
			</div>
			<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
				<p>
					The Python Software Foundation (PSF) is an organization devoted to advancing open source
					technology related to the Python programming language.
					Since 2005, the Python Software Foundation has participated in Google Summer of Code, serving
					as an "umbrella organization" to a variety of Python-related projects, as well as sponsoring
					projects related to the development of the Python language. Python provides mentors, Google
					provides the program (and the money!), and students write code!
				</p>
			</div>
			<div class="warning">
				<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
					<p>We are hoping to participate in GSoC 2019 and are in the process of gathering ideas for
						our application!  Sub org ideas pages are due Feb 4, so students can expect project ideas to be ready
						for viewing around then.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<h2 class="content-head is-center">Other Stuff</h2>
		<div class="pure-g">
			<div class="l-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
				<li>Found a typo? Want to improve this site? <a href="https://github.com/python-gsoc/python-gsoc.github.io">The
					source code
					is on GitHub and we welcome pull requests!</a>
				</li>
				<li>Want to use some of the text of this site? It is now <a href="https://github.com/python-gsoc/python-gsoc.github.io/blob/master/LICENSE.md">licensed
					under CC-BY-4.0</a>.
				</li>
				<li>This site was developed using <a href="https://purecss.io">purecss.io</a> which is licensed
					under
					the <a href="https://github.com/pure-css/pure-site/blob/master/LICENSE.md">BSD license</a>
				</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
<script>
	grecaptcha.ready(function() {
		grecaptcha.execute('6LdAVqIUAAAAAAt6baSHpGXr1LvJ0n1aCl_oqukj', {action: 'homepage'});
	});
</script>
{% endblock %}
