{% extends "base.html" %}
{% block content %}
</p><h2>Project Ideas</h2>
<p>This section lists all the sub-orgs who have signed up to participate with the
Python Software Foundation for 2018.  If they're not on this list, they're
probably not participating at this point, although we can sometimes make
exceptions if the organization tells us they have a particularly promising
student they want to work with.</p>

<table class="ideas">
<!-- Sub-org Info.  Please alphabetize when you add a new org -->
<tbody><tr>
	<td class="logo">
		<img src="https://farm8.staticflickr.com/7587/17066220246_e184b0fa0b_m.jpg">
  </td>
	<td class="intro">
    <table>
      <tbody><tr><td><h4>DIPY</h4></td></tr>
      <tr>
        <td>
          <p><a class="reference external" href="http://dipy.org">DIPY</a>
            is a <strong>free</strong> and <strong>open source</strong> software project
            for computational neuroanatomy,
            focusing mainly on <strong>diffusion</strong> <em>magnetic resonance
            imaging</em> (dMRI) analysis. It implements a
            broad range of algorithms for denoising, registration, reconstruction,
            tracking, clustering,
            visualization, and statistical analysis of MRI data.</p>
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://nipy.org/dipy/">Website</a> |
          <a href="https://mail.python.org/mailman/listinfo/neuroimaging">
      Mailing List</a> |
          <a href="https://gitter.im/nipy/dipy">Contact</a> |
          <a href="https://github.com/nipy/dipy/wiki/Google-Summer-of-Code-2018">Ideas
      Page</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="waiting">Status: Ideas page in
    progress</td>
      </tr>
    </tbody></table>
  </td>
</tr>

<tr>
 <!-- Logo -->
 <td class="logo">
   <img src="https://www.mercurial-scm.org/images/mercurial-logo.png" width="256">
 </td>
 <!-- Info -->
 <td class="intro">
   <table>
     <tbody><tr><td><h4>Mercurial</h4></td></tr>
     <tr><td>Mercurial is a free, distributed source control management tool.
	     It efficiently handles projects of any size and offers an easy and intuitive interface. 
    </td></tr>
    <tr>
      <td>
        <a href="https://www.mercurial-scm.org/">Website</a> |
        <a href="https://www.mercurial-scm.org/mailman/listinfo/mercurial-devel/">
          Mailing List
        </a> |
        <a href="http://webchat.freenode.net/?channels=mercurial">#mercurial</a> on Freenode|
        <a href="https://www.mercurial-scm.org/wiki/SummerOfCode/Ideas2018">Ideas
    Page</a>
     </td>
    </tr>
    <tr><td colspan="2" class="waiting">Status: Ideas page in progress</td></tr>
   </tbody></table>
 </td>
</tr>	

<tr>
 <!-- Logo -->
 <td class="logo">
   <img src="http://martinos.org/mne/stable/_static/mne_logo.png" width="256">
 </td>
 <!-- Info -->
 <td class="intro">
   <table>
     <tbody><tr><td><h4>MNE-Python</h4></td></tr>
     <tr><td>MNE is a free and open source software designed for processing
  electroencephalography (EEG) and magnetoencephalography (MEG) data. EEG and
  MEG data analysis requires advanced numerics, signal processing, statistics
  and dedicated visualization tools. MNE-Python is a pure Python package built
  on top of numpy, scipy, matplotlib and scikit-learn.
    </td></tr>
    <tr>
      <td>
        <a href="http://martinos.org/mne/">Website</a> |
        <a href="https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis">
          Mailing List
        </a> |
        <a href="https://gitter.im/mne-tools/mne-python">Contact</a> |
        <a href="https://github.com/mne-tools/mne-python/wiki/GSOC-Ideas">Ideas
    Page</a>
     </td>
    </tr>
    <tr><td colspan="2" class="waiting">Status: Ideas page in progress</td></tr>
   </tbody></table>
 </td>
</tr>

<tr>
  <!-- Logo -->
  <td class="logo">
          <img src="https://avatars0.githubusercontent.com/u/3769919?v=3&amp;s=200"></td>
  <!-- Info -->
  <td class="intro">
    <table>
      <tbody><tr><td><h4>PySAL</h4></td></tr>
      <tr><td>Python Spatial Analysis Library</td></tr>
      <tr>
        <td>
          <a href="http://www.pysal.org/">Website</a> |
          <a href="https://gitter.im/pysal/pysal">Mentor Gitter</a> |
          <a href="https://github.com/pysal/pysal/wiki/PySAL-Google-Summer-of-Code-2018">Ideas
          Page</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="waiting">Status: Ideas page in progress</td>
      </tr>
    </tbody></table>
  </td>
</tr>

<tr>
   <!-- Logo -->
   <td class="logo">
      <img src="http://scipy.org/_static/images/scipy_med.png" width="150">
   </td>
   <!-- Info -->
   <td class="intro">
     <table>
       <tbody><tr><td><h4>SciPy</h4></td></tr>
       <tr><td>SciPy is a library that provides fundamental routines for
    scientific
       computing: statistics, optimization, integration, linear algebra, Fourier
       transforms, signal processing, and more.</td></tr>
       <tr>
         <td>
           <a href="http://scipy.org/">Website</a> |
           <a href="http://scipy.org/scipylib/mailing-lists.html">Contact (scipy-dev list)</a>
|
           <a href="https://github.com/scipy/scipy/wiki/GSoC-2018-project-ideas">Ideas
            Page</a>
         </td>
       </tr>
       <tr>
         <td colspan="2" class="waiting">Status: Ideas page in progress</td>
       </tr>
     </tbody></table>
   </td>
</tr>

<tr>
   <!-- Logo -->
   <td class="logo">
      <img src="http://scrapinghub.com/images/shub-standard-logo.png" width="300">
   </td>
   <!-- Info -->
   <td class="intro">
     <table>
      <tbody><tr><td><h4>Scrapinghub</h4></td></tr>
      <tr>
        <td>Scrapinghub is a company focused on information retrieval and its
later manipulation, deeply involved on developing and contributing in Open
Source projects regarding web crawling and data processing technologies. This
year we are applying with four of our most renowned projects, Scrapy, Portia,
Splash and Frontera. (maybe 5 with dateparser) </td>
      </tr>
      <tr>
        <td>
          <a href="http://scrapinghub.com/">Website</a> |
          <a href="http://gsoc2018.scrapinghub.com/participate/">Contact</a> |
          <a href="http://gsoc2018.scrapinghub.com/">Ideas Page</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="waiting">Status: Ideas page in progress</td>
      </tr>
     </tbody></table>
   </td>
</tr>

<tr>
   <!-- Logo -->
   <td class="logo">
      <img src="https://securedrop.org/sites/all/themes/securedrop/images/logo.png" width="150">
   </td>
   <!-- Info -->
   <td class="intro">
     <table>
      <tbody><tr><td><h4>SecureDrop</h4></td></tr>
      <tr>
        <td>SecureDrop is an open-source whistleblower submission system that
          media organizations can use to securely accept documents from and communicate with
          anonymous sources. It was originally created by the late Aaron Swartz and is
          currently managed by <a href="https://freedom.press">Freedom of the Press Foundation</a>.
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://securedrop.org/">Website</a> |
          <a href="https://github.com/freedomofpress/securedrop/wiki/Google-Summer-of-Code-2018-Ideas#contacting-the-developers-and-rest-of-the-community">Contact</a> |
          <a href="https://github.com/freedomofpress/securedrop/wiki/Google-Summer-of-Code-2018-Ideas">Ideas Page</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="waiting">Status: Ideas page in progress</td>
      </tr>
     </tbody></table>
   </td>
</tr>

<tr>
   <!-- Logo -->
   <td rowspan="4" class="logo">
      <img src="http://www.statsmodels.org/devel/_static/statsmodels_hybi_favico.ico" width="120"></td>
   <!-- Info -->
   <td><h4>Statsmodels</h4></td>
   </tr><tr><td>Statsmodels is a general purpose Python package for data analysis,
statistics and econometrics </td></tr>
   <tr><td><a href="http://www.statsmodels.org/devel/">Website</a> |
           <a href="http://groups.google.com/group/pystatsmodels">Contact</a>
|
           <a href="https://github.com/statsmodels/statsmodels/wiki/Google-Summer-of-Code-2018">Ideas
Page</a>
   </td>
      </tr><tr>
        <td colspan="2" class="waiting">Status: Ideas page in progress</td>
      </tr>


</tbody></table>
{% endblock %}