{% extends "base.html" %}
{% block content %}
<div class="header"><h1>Mentors</h1></div>
<p>Interested in volunteering with the Python Software Foundation?

</p><p><strong>The biggest job is mentoring students</strong>: Mentoring a
student as a primary mentor can be a pretty big time commitment (we recommend
around 0-10 hours a week for the 3 months of the program, with more time at the beginning
and less once the student learns to work independently) but it's a very
rewarding chance to give a student an open source apprenticeship.
We mentor in teams, so if all you can handle is a few code reviews or taking
over for a week while someone's on vacation, we'd still love your help.

</p><p>The easiest way to become a mentor is to be part of one of the sub-orgs
that plan to be involved, so get in touch with them directly if you want to
help.  If you're part of a group that would like to participate as a sub-org,
please read the section for sub-orgs below.

</p><p><strong>But we often need other volunteers!</strong> We're also looking for
friendly community members to help with other tasks! We'd love to have more
people available on IRC/Mailing lists to answer student and mentor
questions in various time zones. We are particularly looking for volunteers
who can read and comment on student blogs, remind students if they haven't
posted, and promote the work our students do to the larger Python community.
Or maybe you have another skillset you'd like to contribute? (Proofreading?
Recruiting diverse student applicants?) If you want to help, we'd
be happy to find a way to make that happen!

</p><p><strong>If you'd like to volunteer, get in touch with a sub-org admin or
email the Python org admins at gsoc-admins(at)python(dot)org </strong></p>

<a name="sub-orgs"></a>
<h3>Sub-orgs</h3>
<p>To participate under the Python umbrella, a sub-org must do the following:

</p><ol>
<li>Be a Python-based open source project that <a href="https://developers.google.com/open-source/gsoc/faq#what_are_the_eligibility_requirements_for_a_mentoring_organization">meets Google's requirements
for GSoC</a>.

</li><li>Have one sub-org admin and at least two mentors who are willing to commit
to the full GSoC period. (More is awesome, though!)

</li><li>Accept the <a href="https://www.python.org/psf/codeofconduct/">Python
Community Code of Conduct</a> for the duration of the
program.

</li><li>Send an email indicating interest to gsoc-admins(at)python(dot)org before
the Python deadline (exceptions can be made if you get an amazing
student applicant later and want to sign up just for them).


</li><li>Have a good ideas page. <a href="orgtemplate.html">Here's a template.</a> Getting a really great page
sometimes takes a few rounds of revisions; Meflin will work with you to make
sure your page is ready!  Once you're ready for review, you can <a href="https://github.com/python-gsoc/python-gsoc.github.io">send a pull request to get
added to this page</a>

</li><li>Be able to handle <a href="#schedule">meeting deadlines</a> and following both Google
and Python's rules.  We try to send important reminders for big deadlines, but we only
have limited volunteer time for nagging and cajoling.  Groups that cause repeated problems
may be asked to take time off to limit volunteer burnout.
	
	</li><li>Disclose all potental conflicts of intrest to the Python admins <b>BEFORE</b> accepting a student. If you are unsure, ask. If a conflict is found after the fact the studnet and sub-org may be dropped from the program.

</li></ol>


<p>We can't promise to take everyone who meets those criteria, but we do try to
take any group that we feel will give the students a great experience.
Terri has final say in which projects participate under the Python
umbrella, but please send any queries to all the admins at
gsoc-admins(at)python(dot)org to make sure we're all on the same page.

</p><p><strong>Python projects are welcome and encouraged to apply as separate
mentoring organizations directly with Google.</strong> We're happy to help
you in any way we can and we don't mind being your backup plan. We're also
happy to help advertise python based organizations not under our umbrella: we
want students to find projects that best suit them!
{% endblock %}