{% extends "base.html" %}

{% block title %}
My Profile
{% endblock %}

{% block content %}
  <h1>Welcome {% if not user.is_anonymous %}{{ user.username }} {% endif %}!</h1>
  <h2>{{ user.is_student }}</h2>
  {% if user.is_anonymous %}
    <div>Please login <a href="{% url 'login' %}">here</a>.</div>
  {% endif %}
  	<!-- Begin Upload Accepted Proposal -->
  {% if user %}
    {% if user.is_student %}
    <button name="upload-proposal"
            id='begin-upload-proposal-button'
            onclick="document.querySelector('#upload-proposal').style.display='block'">
    {% if user.student_profile.accepted_proposal_pdf %}
      Re-upload Your Accepted Proposal
    {% else %}
      Upload Your Accepted Proposal
     {% endif %}
    </button>
      <div id='upload-proposal' style="display: none">
      <form id='upload-proposal-form'
            enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="accepted_proposal_pdf">
      </form>
      <button onclick="uploadProposal()" id="upload-proposal-button">Confirm</button>
      <button onclick="document.querySelector('#upload-proposal').style.display='none'">
        Quit
      </button>
      </div>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
      function cancelProposalUpload() {
        axios.get('{% url 'cancel-proposal-upload' %}').then(
          function(resp) {
              alert("Proposal upload canceled.")
          }
        )
      }
      function setProposalUploadingStatus(status) {
        const button = document.querySelector("#upload-proposal-button");
        if(status) {
          button.innerHTML = 'Uploading...Please wait.';
          button.onclick = null;
        } else {
          button.innerHTML = 'Confirm';
          button.onclick = uploadProposal;
        }
      }
      function uploadProposal() {
        setProposalUploadingStatus(true);
        if (confirm("Please confirm you don't have any private data in your file!") !== true) {
          alert("Upload canceled.")
          setProposalUploadingStatus(false)
          return
        }
        const uploadForm = document.querySelector('#upload-proposal-form');
        axios.post(
          '{% url 'upload-proposal' %}',
          new FormData(uploadForm),
        )
          .then(function(resp) {
            setProposalUploadingStatus(false);
            if(!resp.data['file_type_valid']) {
              console.log(resp.data['file_type_valid']);
              alert("Your file doesn't seem to be a pdf file. Please check again!");
              return
            }
            const privateData = resp.data['private_data'];
            if(privateData["emails"].length > 0 || 
            privateData["possible_phone_numbers"].length > 0 || 
            privateData["locations"].length > 0) {
              let confirmText = "We seemed to have found these private data in your pdf file. Are you sure to proceed?";
              if (privateData['emails'].length > 0)
              confirmText += `\r\n Email addresses: ${privateData['emails'].toString()}`
              if(privateData['possible_phone_numbers'].length > 0)
              confirmText += `\r\n Possible phone numbers: ${privateData['possible_phone_numbers'].toString()}`
              if(privateData['locations'].length > 0)
              confirmText += `\r\n Locations: ${privateData['locations'].toString()}`
              if(confirm(confirmText) !== true) {
                cancelProposalUpload();
                return
              }
            }
            alert('Proposal upload succeeded!');
          })
          .catch(function(err) {
            setProposalUploadingStatus(false);
            console.log(err);
          })
      }
      </script>

      {% endif %}
  {% endif %}

  	<!-- End Upload Accepted Proposal -->
{% endblock %}
