{% extends "base.html" %}

{% block title %}
Schedule
{% endblock %}

{% block content %} 
{% load app_tag %}

    <a name="schedule"></a>
    <div class="content">
        <h2 class="content-head is-center">Schedule</h2>
        <div class="warning">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <p><strong>Next Deadline</strong>
                Students can start signing up March 12th.</p>
            </div>
        </div>
        <br/>
        <strong>Dates</strong>
		

        <ul>
        <li>January 19 - Sub-org applications due.  <a href="http://python-gsoc.org/#sub-orgs">See
        the sub-org section for details</a>.  If you're an organization that tried to get in as
        a top-level organization and didn't get in and would like to participate with us instead,
        please get in touch by March 5.
        </li><li>February 12 - Google Announces list of accepted mentoring organizations
        </li><li>March 12 - Student sign-ups start
        </li><li>March 27 - Student sign-ups finish
        </li></ul>

        <p>Please note Google's <a href="https://developers.google.com/open-source/gsoc/timeline?hl=en">GSoC
        dates and deadlines</a>.

        </p><p>In general, Python will ask mentors to do things 48h before the Google
        deadline. This allows our admins time to make sure that evaluations, etc. are
        complete and ready for Google when their deadline comes.  Student deadlines
        remain the same, although getting things done earlier is never a bad
        idea!</p>

        <p>We have a Python-specific calendar here: <a href="https://calendar.google.com/calendar/ical/uhambjin8qdb9af4vt03c4djg4%40group.calendar.google.com/public/basic.ics">Python
        GSoC calendar in ical format</a></p>

        <br style="clear:both">
		You are viewing calendar at GMT {% time_zone 1 %}
        <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=uhambjin8qdb9af4vt03c4djg4%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz={% time_zone %}" style="border-width:0" scrolling="no" width="800" height="400" frameborder="0"></iframe>
    </div>
{% endblock %}