{% extends "base.html" %}

{% block title %}
Students
{% endblock %}

{% block content %}
    <a name="apply"></a>
    <div class="content">
        <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
            <h2 class="content-head content-head is-center">Students</h2>
            <p>GSoC is basically an open source apprenticeship: students will be paid by
            Google to work under the guidance of mentors from an open source community.
            It's a really great opportunity to build new skills, make connections in your
            community, get experience working with a larger and often distributed team,
            learn, and, of course, get paid.
            
            </p><p>Students are expected to work around 40 hours a week on their GSoC project.
            This is essentially a full-time job. Ideally, you should not attempt to do
            another internship, job, or full-time schooling while you're doing GSoC.
            
            </p><p>Remember that Google intends this to be a way for new contributors to join
            the world of open source.  The students most likely to be selected are those
            who are engaged with the community and hoping to continue their involvement
            for more than just a few months.
            
            </p><p>To apply, you need to <a href="#ideas">take a look at the mentoring
            organizations and the ideas that they are willing to sponsor</a>. Typically,
            you'll choose one of their ideas and work with a mentor to create a project
            proposal that's good for both you and your chosen open source community.
            Sometimes, projects are open to new ideas from students, but if you propose
            something new make especially sure that you work with a mentor to make sure
            it's a good fit for your community. Unsolicited, undiscussed ideas are less
            likely to get accepted.
            
            </p><p>Note that Python is an "umbrella organization" which means that our team is
            actually a group of python projects that work together to do Google Summer of
            Code. If you're going to apply with us, you'll need to choose from one of
            those teams, because that defines which mentors will be helping you with your
            applications.  <strong>Applications without any sub-org and mentor to
            evaluate them will be rejected.</strong>  You can work with more than one
            sub-org while you're figuring out what you want to do, but you can only
            accept one job offer.
            
            Here's some resources so you can read up more on how to be an awesome
            student:
            </p><ul>
            <li><a href="http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/">The
            GSoC student Guide</a> -- This is a guide written by mentors and former
            students.  It covers many questions that most students ask us.  Please read
            it before asking any questions on the mailing list or IRC if you can!  New
            students in particular might want to read the section <a href="http://write.flossmanuals.net/gsocstudentguide/am-i-good-enough/">Am I
            Good Enough?</a></li>
            
            <li><a href="https://developers.google.com/open-source/gsoc/resources/">Google's
            list of resources</a> -- Note especially the <a href="https://developers.google.com/open-source/gsoc/faq">Frequently Asked
            Questions</a> (FAQ) which does in fact answer 99% of the questions we get on
            the main GSoC IRC channel.</li>
            
            <li>Python's <a href="https://wiki.python.org/moin/SummerOfCode/Expectations">SummerOfCode/Expectations</a> also talks about what Python in particular
            is looking for in its students.</li>
            
            <li>Python's <a href="faq.html">Summer of Code Frequently Asked Questions</a> answers the questions that we
            most often get about Python's projects. You might want to see <a href="faq.html#choosing">How do I choose
            a project or a sub-org?</a> or <a href="faq.html#slots">How many slots does Python get?</a>
            </li></ul>
        </div>
    </div>

	<div class="ribbon l-box-lrg pure-g">
		<div class="content">
			<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
				<h2 class="content-head content-head-ribbon">How to apply</h2>
				<p>Short application checklist:</p>
				<ol>
					<li><strong>Read the links and instructions</strong> given on this site -- All of it! we've
						tried
						to give you all
						the information you need to be an awesome student applicant.
					<li><strong>Choose a sub-org</strong> (<a href="#ideas">check the list here</a>). Applications
						not
						associated with a sub-org typically get rejected.
					<li><strong>Talk with your prospective mentors</strong> about what they expect of student
						applicants and get help from them to refine your project ideas. Listening to
						your mentors' recommendations is very important at this stage!
					</li>
					<li><strong>Prepare a patch for that sub-org</strong>. Usually we expect students to fix a bug
						and
						have made a pull
						request (or equivalent). Your code doesn't have to be
						accepted and merged, but it does have to be visible to the public and it does have to be
						your
						own work
						(mentor help is ok, code you didn't write is not).
					</li>
					<li>
						<strong>Write your application (with help from your mentors!)</strong> We'll have a
						template up
						when applications
						open. All applications <em>must</em> go through Google's application system; we can't
						accept
						any application
						unless it is submitted there.
						<ul>
							<li>Use a descriptive title and include your sub-org name in Google's system. Good
								example:
								"Mailman:
								Improve
								archive search" Bad example: "My gsoc project"
							<li>Make it easy for your mentors to give you feedback. If you're using Google docs,
								enable comments and submit a "draft" (we can't see the "final" versions until
								applications close).
								If you're using a format that doesn't accept comments, make sure your email is on
								the
								document and don't forget to check for
								feedback!
							</li>
						</ul>
					</li>
					<li><strong>Submit your application to Google before the deadline.</strong> We actually
						recommend you submit a few days early in case you have internet problems or
						the system is down. Google does not extend this deadline, so it's best to be
						prepared early! You can edit your application up until the system
						closes.
					</li>
				</ol>
				<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
					<h3 class="content-subhead">
						<i class="fas fa-smile-wink"></i>
						Tip
					</h3>
					<p><strong>Communication</strong> is probably the most
						important part of the application process. Talk to the mentors and other
						developers, <em>listen</em> when they give you advice,
						and demonstrate that you've understood by incorporating their feedback into
						what you're proposing. We reject a lot of students who haven't listened to mentor
						feedback. If your mentors tell you that a project idea won't work for them, you're
						probably not going to get accepted unless you change it.
					</p>
				</div>
				<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
					<h3 class="content-subhead">
						<i class="fas fa-file-invoice"></i>
						What goes in an application?
					</h3>
					An ideal application will contain 5 things:
					<ol>
						<li>A <strong>descriptive title</strong> including the name of the <strong>sub-org</strong>
							you
							want to work with
							(if this is missing, your application may be rejected!)
						</li>
						<li><strong>Information about you</strong>, including contact information.</li>
						<li>Link to a <strong>code contribution</strong> you have made to your organization.
							(Usually this is a link to a pull request.)
						</li>
						<li>Information about your <strong>proposed project</strong>. This should be fairly
							detailed
							and include
							a timeline.
						</li>
						<li><strong>Information about other commitments</strong> that might affect your ability to
							work
							during the GSoC period.
							(exams, classes, holidays, other jobs, weddings, etc.) We can work around a lot of
							things,
							but
							it helps
							to know in advance.
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- How to apply -->   

<!-- <div class="header"><h1>Students</h1></div>
<p>GSoC is basically an open source apprenticeship: students will be paid by
Google to work under the guidance of mentors from an open source community.
It's a really great opportunity to build new skills, make connections in your
community, get experience working with a larger and often distributed team,
learn, and, of course, get paid.

</p><p>Students are expected to work around 40 hours a week on their GSoC project.
This is essentially a full-time job. Ideally, you should not attempt to do
another internship, job, or full-time schooling while you're doing GSoC.

</p><p>Remember that Google intends this to be a way for new contributors to join
the world of open source.  The students most likely to be selected are those
who are engaged with the community and hoping to continue their involvement
for more than just a few months.

</p><p>To apply, you need to <a href="#ideas">take a look at the mentoring
organizations and the ideas that they are willing to sponsor</a>. Typically,
you'll choose one of their ideas and work with a mentor to create a project
proposal that's good for both you and your chosen open source community.
Sometimes, projects are open to new ideas from students, but if you propose
something new make especially sure that you work with a mentor to make sure
it's a good fit for your community. Unsolicited, undiscussed ideas are less
likely to get accepted.

</p><p>Note that Python is an "umbrella organization" which means that our team is
actually a group of python projects that work together to do Google Summer of
Code. If you're going to apply with us, you'll need to choose from one of
those teams, because that defines which mentors will be helping you with your
applications.  <strong>Applications without any sub-org and mentor to
evaluate them will be rejected.</strong>  You can work with more than one
sub-org while you're figuring out what you want to do, but you can only
accept one job offer.

Here's some resources so you can read up more on how to be an awesome
student:
</p><ul>
<li><a href="http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/">The
GSoC student Guide</a> -- This is a guide written by mentors and former
students.  It covers many questions that most students ask us.  Please read
it before asking any questions on the mailing list or IRC if you can!  New
students in particular might want to read the section <a href="http://write.flossmanuals.net/gsocstudentguide/am-i-good-enough/">Am I
Good Enough?</a></li>

<li><a href="https://developers.google.com/open-source/gsoc/resources/">Google's
list of resources</a> -- Note especially the <a href="https://developers.google.com/open-source/gsoc/faq">Frequently Asked
Questions</a> (FAQ) which does in fact answer 99% of the questions we get on
the main GSoC IRC channel.</li>

<li>Python's <a href="https://wiki.python.org/moin/SummerOfCode/Expectations">SummerOfCode/Expectations</a> also talks about what Python in particular
is looking for in its students.</li>

<li>Python's <a href="faq.html">Summer of Code Frequently Asked Questions</a> answers the questions that we
most often get about Python's projects. You might want to see <a href="faq.html#choosing">How do I choose
a project or a sub-org?</a> or <a href="faq.html#slots">How many slots does Python get?</a>
</li></ul>

<h3>How do I apply?</h3>

Short application checklist:
<ol>
<li>Read the links and instructions given on this page -- All of it! we've tried to give you all the
information you need to be an awesome student applicant.

</li><li>Choose a sub-org (<a href="#ideas">check the list here</a>).  Applications not
associated with a sub-org typically get rejected.

</li><li>Talk to your prospective mentors about what they expect of student
applicants and get help from them to refine your project ideas. Listening to
your mentors' recommendations is very important at this stage!</li>

<li>Prepare a patch for that sub-org</li>

<li>Set up a blog where you will keep track of your GSoC progress</li>

<li><a href="studenttemplate.html">Write your application</a> (with help from your mentors!)  Make sure to include the
sub-org name in the title so your mentors can find it in the system, and make it easy for
your mentors to comment on your doc (e.g. enable comments if you're using
google docs).  <a href="https://github.com/python-gsoc/python-gsoc.github.io/blob/master/2018/application2018.md">A shorter
markdown version of the application template is available here.</a></li>

<li>	 Submit your application to Google before the deadline.  We actually
recommend you submit a few days early in case you have internet problems or
the system is down. Google does not extend this deadline, so it's best to be
prepared early! You can edit your application up until the system
closes.</li>
</ol>

<div class="warning"><strong>Communication</strong> is probably the most
important part of the application process. Talk to the mentors and other
developers, <em>listen</em> when they give you advice,
and demonstrate that you've understood by incorporating their feedback into
what you're proposing. We reject a lot of students who haven't listened to mentor
feedback.</div> -->
{% endblock %}