{% extends CMS_TEMPLATE %}
{% load dict_key %}

{% block content %}
<div class="content">
    <h1>Select any of the applications to change</h1>
    <ul>
        {% for application in applications %}
            <li>
				{% if gsoc_year == application.gsoc_year %}
					<a href="{% url 'suborg:update_application' application_id=application.id %}">
						{% if application.suborg %}
							{{ application.gsoc_year }} {{ application.suborg.suborg_name }}
						{% else %}
							{{ application.gsoc_year }} {{ application.suborg_name }}
						{% endif %}		
					</a>
				{% elif application.suborg %}
					{{ application.gsoc_year }} {{ application.suborg.suborg_name }}
				{% else %}
					{{ application.gsoc_year }} {{ application.suborg_name }}
				{% endif %}
                {% if application.accepted and gsoc_year == application.gsoc_year %}
                    - Accepted,
                    <br>
                    <strong>Mentors:</strong>
                    <ol>
                    {% for mentor in mentors_list|dict_key:application.suborg.id %}
                        <li>
                            {{ mentor.user.username }}( {{ mentor.user.email }} )
                        </li>
                    {% endfor %}
                    </ol>
                    <a href="{% url 'suborg:add_mentor' application_id=application.id %}">Add Mentors</a>
                {% elif gsoc_year == application.gsoc_year %}
                     - Not Accepted
                {% endif %}
            </li><br>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'suborg:register_suborg' %}">Want to create a new application?</a>
    </p>
</div>
{% endblock %}
