{% extends CMS_TEMPLATE %}

{% block content %}
<div class="content">
    <h1>Select any of the applications to change</h1>
    <ul>
        {% for application in applications %}
            <li>
                <a href="{% url 'suborg:update_application' application_id=application.id %}">
                    {% if application.suborg %}
                        {{ application.gsoc_year }} {{ application.suborg.suborg_name }}
                    {% else %}
                        {{ application.gsoc_year }} {{ application.suborg_name }}
                    {% endif %}
                </a>
                {% if application.accepted and gsoc_year == application.gsoc_year %}
                     - Accepted, <a href="{% url 'suborg:add_mentor' application_id=application.id %}">Add Mentors</a>
                {% elif gsoc_year == application.gsoc_year %}
                     - Not Accepted
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'suborg:register_suborg' %}">Want to create a new application?</a>
    </p>
</div>
{% endblock %}