{% extends CMS_TEMPLATE %}

{% block content %}
    {% for blogset in blogsets %}
        <div class="content">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <h2 class="content-head content-head">GSoC {{ blogset.0 }}</h2>
                <div class="pure-g blog-list">
                    {% for blog in blogset.1 %}
                        <div class="pure-u-1 pure-u-md-1-3 card-container">
                            <a href="{{ blog.url }}">
                                <div class="card">
                                    <i class="fa fa-quote-left {{ blog.color }}" aria-hidden="true"></i>
                                    <h3 class="title">{{ blog.title }}</h3>
                                    <div class="student">{{ blog.student }}</div>
                                    <div class="suborg">{{ blog.suborg }}</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}