{% extends CMS_TEMPLATE %}

{% block title %}
Blogs
{% endblock %}

{% block content %}
    {% for blogset in blogsets %}
        <div class="content-blog">
            <h2 class="content-head content-head">
                GSoC {{ blogset.0 }}
                <a class="rss-icon" href="/feed/?y={{ blogset.0 }}"><i class="fa fa-rss-square"></i></a>
            </h2>
            <div class="pure-g blog-list">
                {% for blog in blogset.1 %}
                    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5 card-container">
                        <a href="{{ blog.url }}">
                            <div class="card">
                                <i class="fa fa-quote-left {{ blog.color }}" aria-hidden="true"></i>
                                <h3 class="title">{{ blog.title }}</h3>
                                <div class="suborg">{{ blog.suborg }}</div>
                                {% if blog.proposal %}
                                    <a href="{{ blog.proposal }}" target="_blank" class="proposal-link">Download Proposal</a>
                                {% else %}
                                    <span class="no-proposal">No proposal available</span>
                                {% endif %}

                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
