{% extends CMS_TEMPLATE %}

{% block content %}
  <h1>Sub-org Submission Form</h1>
  <h3>
  {% if msg %}
    {{ msg }}
  {% else %}
    Remember to save the data before you leave!
  {% endif %}
  </h3>
  <hr>
  <form class="pure-form pure-form-stacked"
        method="post"
        action="{% url 'suborg_form:suborg-submit-form' %}"
	enctype="multipart/form-data">
   {% csrf_token %}
    <input type="submit" class="pure-button pure-button-primary" name="submit_type"
           value="Save">
    <input type="submit" class="pure-button pure-button-primary" name="submit_type"
           value="Finish">
    <hr>
      <fieldset>
      <legend>Public Profile</legend>
      <label for="organization_name">Organization Name*</label>
      <input id="organization_name" name="organization_name"
             type="text" placeholder="Organization Name"
             value="{{ submission.name|default_if_none:"" }}">
      <label for="website">Website URL*</label>
      <input id="website" type="text" name='website' placeholder="Website URL"
      value="{{ submission.website|default_if_none:"" }}">
      <label for="short_description">A very short description of your organization.*</label>
      <input id="short_description"
             name="short_description"
             type="text" placeholder=""
             value="{{ submission.short_description|default_if_none:"" }}">
      <label for="license">Primary Open Source License*</label>
      <select id="license" name="license">
        {% for k, v in licenses.items %}
            <option value="{{ k }}"
              {% if k == submission.opensource_license %}
                    selected="selected"
              {% endif %}>{{ v }}</option>
        {% endfor %}
      </select>
      <label for="logo_img">Upload Your LOGO. Must be a 24-bit PNG, minimum height 256 pixels.{% if submission.logo.name %}<br>(Currently {{submission.logo.name}}){% endif %}</label>
      <input id="logo_img" name="logo" type="file">
      <hr>
      <h4>You must complete at least one of the following three contact options: *</h4>
      <label for="chat_url">Chat<br>
        (Link to a web page that describes how to get on your IRC channel or other realtime communication system.)
      </label>
      <input id="chat_url" name='contact_chat_url' type="text" placeholder=""
             value="{{ chat_url|default_if_none:"" }}">
      <label for="mailing_list_url">Mailing List<br>
        (Link to a page describing how to join your organization's mailing list.)
      </label>
      <input id="mailing_list_url" type="text" name="contact_mailing_list_url" placeholder=""
             value="{{ twitter_url|default_if_none:"" }}">
       <h5>Other Links</h5>
      <label for="twitter_url">Twitter Link(Optional)</label>
      <input id="twitter_url" name='contact_twitter_url' type="text" placeholder="Twitter"
      value="{{ twitter_url|default_if_none:"" }}">
      <label for="blog_url">Blog Link(Optional) </label>
      <input id="blog_url" name="contact_blog_url" type="text" placeholder="Blog"
             value="{{ blog_url|default_if_none:"" }}">
    </fieldset>
    <fieldset>
      <legend>Details</legend>
      <label for="admin_email">Admin Email*</label>
      <input id="admin_email" name='admin_email'
             type="text"
             placeholder="Admin Email"
             value="{{ submission.admin_email|default_if_none:"" }}">
      <label for="mentor_emails">Mentor Emails* <br>
      (Separated with "," or ", ", e.g. "xxx@airmail.cc, ccc@firemail.cc,asd@libre.one")</label>
      <textarea id='mentor_emails'
                name="mentor_emails" cols="40" rows="6" style="resize: none"
      >{{ submission.mentor_emails_string }}</textarea>
    </fieldset>
    <fieldset>
      <legend>Other Details</legend>
      {% for q in text_questions %}
      <label for="question_{{ q.question.pk }}">{{ q.question.question }}
      {% if q.question.optional %}(optional){% else %} * {% endif %}</label>
      <textarea id='question_{{ q.question.pk }}' name="question_{{ q.question.pk }}"
                cols="40" rows="6" style="resize: none"
                >{% if q.answer %}{{ q.answer }}{% endif %}</textarea>
      {% endfor %}
    </fieldset>
    <hr>
    <input type="submit" class="pure-button pure-button-primary" name="submit_type"
           value="Save">
    <input type="submit" class="pure-button pure-button-primary" name="submit_type"
           value="Finish">
</form>
{% endblock content %}
